# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_BELLA_LEFT

config ZMK_KEYBOARD_NAME
    default "bella"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_BELLA_LEFT

if BOARD_BELLA_LEFT || BOARD_BELLA_RIGHT

config BOARD
    default "bella"

config ZMK_SPLIT
    default y

endif

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif